@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
/* font-family: 'Didact Gothic', sans-serif;
font-family: 'Work Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Lato', sans-serif;
/* colors: text: #232420 */
/* #8BC5D7 #DACDFB*/

@font-face {
    font-family: Mallory;
    src: url(/assets/fonts/Mallory.woff);
}

@font-face {
    font-family: MallorySmall;
    src: url(/assets/fonts/MallorySmall.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.darkmode{
    background-color: #232420;
    color: white;
    transition: all 1s;
}


h1,h3{
    font-family: Mallory, 'Lato', sans-serif;
}

body{
    color: #232420;
    font-family: MallorySmall, 'Lato', sans-serif; 
    position: relative;
}

a{
    text-decoration: none;
}

p{
    color: #78757f;;;
}


/* MAIN */

.hero {
    background-color: #FFE742;
}

nav a{
    color:white ;
    font-size: 0.7em;
    font-weight: bolder;
}

nav {
    background-color:#232420 ;
    border-bottom:3px solid pink;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

ul li{
    padding: 3%;
}

.me{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid lightblue;
    position: absolute;
    right: 5px;
}

main{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}



.maincontent h2{
    font-size: 1.5em;
    font-family: Mallory, 'Lato', sans-serif;
}

main div h1{
    font-size: 3em;
}

.lastname{
    background-color: #232420;
    color: #FFE742;
    width: 210px;
    margin: auto;
}

.social{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.social a{
    margin-right: 2%;
}

.social img{
    width: 60px;
}


/* ABOUT ME */

#aboutmesection{
    scroll-behavior: smooth;
    padding: 5%;
    margin-top: 25px;
}

#aboutmesection h1{
    text-align: center;
    margin-bottom: 5px;
    font-size: 1.5em;
}

#aboutmesection h2{
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    color:#78757f;
    font-size: 12px;
    letter-spacing: 3px;
}

#aboutmesection h3{
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    color: #78757f;
    font-size: 12px;
    letter-spacing: 3px;
}

.radio{
    display: flex;
    justify-content: center;
    margin-top: 8%;
}

.radio p{
    font-weight: bolder;
    text-transform: uppercase;
    color: #78757f;
    font-size: 8px;
    letter-spacing: 3px;
    margin-right: 21px;
    margin-left: 5px;
}

#abouttext{
    font-size:1.1em;
    text-align: center;
    margin-bottom: 15%;
    padding: 7%;
}

#chosenpic{
    width: 70%;
    display: block;
    margin: auto;
    margin-top: 5%;
    padding: 5%;
}

.portrait p{
    text-align: center;
}

.portrait h3{
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    color: #78757f;
    font-size: 12px;
    letter-spacing: 3px;
    margin-bottom: 25px;
}

.gallery img{
    width: 15%;
    object-fit: cover;
    padding: 5px;
}

.gallery{
    display: flex;
    justify-content: center;
}
/* WHAT I KNOW */



.creating{
    background: url(./img/yellow.png) center/cover no-repeat;
    padding-bottom: 8%;
    transition: all 1s;
    background-size: 300px;
}

.styling{
    background: url(./img/green.png) center/cover no-repeat;
    padding-bottom: 13%;
    transition: all 1s;
    background-size: 300px;
}

.cms{
    background: url(./img/blue.png) center/cover no-repeat;
    padding-bottom: 18%;
    transition: all 1s;
    background-size: 300px;
}

.whatelse{
    background: url(./img/pink.png) center/cover no-repeat;
    padding-bottom: 18%;
    transition: all 1s;
    background-size: 300px;
}

#whatiknow{
    padding-bottom: 10%;
}

#whatiknow h1{
    text-align: center;
    font-size: 3em;
    margin-top: 15%;
    font-weight: lighter;
}

.skills{
    font-size: 1em;
    padding: 10%;
}

.skills div li{
    list-style: none;
    text-align: center;
    font-size: 1em;
}

.skills div h2{
    margin: 5%;
    text-align: center;
    font-size: 1.8em;
    font-weight: lighter;
}

.codepic{
    background: url(./img/game.png)center/cover no-repeat fixed;
    height: 50vh;
}

/* MY PROJECTS */

#protitle{
    font-size: 2.5em;
    text-align: center;
    font-weight: lighter;
    margin-top: 30px;
}

#mypro p{
    text-align: center;
    padding: 3%;
}

#propics{
    text-align: center;
}

#propics img{
    max-width: 50%;
    margin: 5%;
    border-radius: 5px;
    border: 2px solid black;
}

#mypro{
   background-color: #87FFFB;
   padding-top: 30px;
   padding-bottom: 18%;
}


.lastpic{
    height: 50vh;
    background: url(./img/hello.png)center/cover no-repeat fixed;
}

/* CONTACT */

#contact{
    background-color: #FFE742;
    text-align: center;
    padding-bottom: 200px;
    border-top: 3px solid pink;
}

.contacttitle{
    font-size: 1.4em;
    margin-top: 50px;
}

.contacttitle h3{
    font-family: MallorySmall;
    font-size: 0.8em;
    padding: 2%;
    font-weight: lighter;
}

.meglasses{
    width: 80%;
    border-radius: 50%;
    padding: 10%;
}

 #contact form{
     text-align: center;
     width: 100%;
 }

 #contact form textarea{
    font-family: MallorySmall;
 }

 #contact form textarea:first-of-type{
     min-width: 90vw;
     min-height: 5vh;
     border-radius: 5px;
 }

 #contact form textarea:nth-last-of-type(2){
    min-width: 90vw;
    min-height: 5vh;
    border-radius: 5px;
}

#contact form textarea:last-of-type{
    min-width: 90vw;
    height: 30vh;
    border-radius: 5px;
}

textarea::placeholder{
    text-align: center;
}

#contact form textarea ::placeholder:last-of-type{
    margin-top: 10%;
}

  #send{
    background-color: pink;
    min-width: 130px;
    min-height: 40px;
    margin-top: 16px;
    transition: all 250ms;
    border-radius: 10px;
    transition: all 0.5s;
  }

  

  form input{
      border: 1px solid #232420;
  }

  #send:hover{
    cursor: pointer;
    -webkit-box-shadow: 8px 5px 26px 11px rgba(0,0,0,0.20); 
    box-shadow: 8px 5px 26px 11px rgba(0,0,0,0.20);
  }

  .go{
    animation: move 1s forwards ease-in-out;
  }

  .sendwrapper{
    display: flex;
    justify-content: center;
    position:relative;
  }


  #plane{
    max-width: 153px;
    offset-path: path("M9, 9c0, 0, 171.7, 15.8, 171.7-161.9");
    position: absolute;
    left: 67%;
    bottom: 10%;
}

@keyframes move{
  0% {
      transform: scale(1);
      offset-distance: 0%;
  }
  100% {
      transform: scale(0);
      offset-distance: 100%;
  }
}

/* DARKMODE */
#cat{
    position: fixed;
    top: 2%;
    left: 1%;
}

#sun{
    max-width: 130%;
    position: absolute;
    bottom: 30%;
    left: -7px;
    transition: all 1s;
}

#moon{
    max-width: 60%;
    position: absolute;
    bottom: -5%;
    left: 8px;
    opacity: 0;
    transition: all 1s;
}


#cat div{
    position: absolute;
    position: fixed;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	min-width: 35px;
	min-height: 20px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	min-width: 10px;
	min-height: 10px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #506080;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	min-width: 40px;
}

#contact form textarea:first-of-type {
    text-align: center;
    padding-top: 15px;
}

#contact form textarea:nth-last-of-type(2) {
    text-align: center;
    padding-top: 15px;
}

/* MEDIA QUERY */

@media screen and (min-width:768px ){

    main div h1 {
        font-size: 5em;
    }

    .lastname{
        width: 350px;
        font-size: 5em;
    }

    article{
        display: grid;
        grid-template-columns: 1fr 350px;
    }

    #chosenpic{
        width: 90%;
        margin-top: 10%;
    }

    .skills{
        display: flex;
        justify-content: space-between;
        padding: 8%;
        padding-top: 0;
    }

    .skills div{
        background-size: 200px;
        padding-top: 5%;
    }

    #whatiknow h1{
        font-size: 5em;
    }

    #mypro p{
        font-size: 1.5em;
        width: 87%;
        margin: auto;
        padding: 0;
    }


    #protitle{
        font-size: 4em;
    }

    .meglasses{
        width: 36%;
        padding: 2%;
    }

    .titlecontact{
        font-size: 2em;
    }

    .contacttitle h3{
        margin: auto;
        padding: 0;
        width: 79%;
    }

    #contact form textarea:first-of-type{
        min-width: 500px;
    }

    #contact form textarea:nth-last-of-type(2){
        min-width: 500px;
    }
    #contact form textarea:last-of-type{
        min-width: 500px;
    }

}


@media screen and (min-width:1000px ){

    nav a{
        font-size: 1em;
    }

    #contact form{
        width: 90%;
        margin: auto;
    }

    #propics{
        margin-top: 50px;
    }

    #propics img{
        max-width: 25%;
        margin: 2%;
    }

    #mypro p{
        font-size: 1.5;
    }

    .meglasses{
        width: 25%;
    }

    .titlecontact{
        font-size: 3em;
    }


    .contacttitle h1{
        font-size: 3em;
    }

    #contact h3{
        font-size: 1em;
    }    

}

@media screen and (min-width:1068px ){
   
    .maincontent h2{
        font-size: 2em;
    }

    .me{
        margin-top: 14px;
    }

    #whatiknow h1{
        font-size: 8em;
        margin-top: 110px;
    }

    #whatiknow{
        padding-bottom: 0;
    }

    #aboutmesection h1{
        font-size: 2.5em;
    }

    #aboutmesection h2{
        font-size: 14px;
    }

    .radio p{
        font-size: 16px;
    }

    #abouttext{
        font-size: 1.5em;
    }

    .skills div li{
        font-size: 1.5em;
    }

    #protitle{
        font-size: 8em;
    }

    #mypro{
        padding-bottom: 90px;
    }

    .contacttitle h1 {
        font-size: 4em;
    }
}



@media screen and (min-width:1115px ){



    #contact form{
        width: 70%;
    }

    .contacttitle{
        margin-top: 80px;
    }

    #mypro p{
        width: 500px;
    }

}

@media screen and (min-width:1400px ){

    main{
        height: 65vh;
    }

    .maincontent h1{
        font-size: 7em;
    }

    .lastname{
        width: 485px;
    }

    #chosenpic{
        width: 60%;
        margin-top: 5%;
    }

    #contact form{
        width: 60%;
    }

    nav a{
        font-size: 1.5em;
    }

    .skills div h2{
        font-size: 2.8em;
    }

    #propics img{
        max-width: 28%;
    }


    #mypro p{
        width: 59%;
        font-size: 2em;
    }

    .titlecontact{
        font-size: 4em;
    }


    #contact h3{
        font-size: 1.5em;
    }

    article{
        grid-template-columns: 1fr 800px;
    }

    #send{
        min-width: 160px;
        min-height: 60px;
        font-size: 20px;
    }
    
}

@media screen and (min-width:1672px ){
    .maincontent {
        padding: 18%;
    }

    #aboutmesection h1 {
        font-size: 5em;
    }

    #aboutmesection h2 {
        font-size: 29px;
    }

    .radio p {
        font-size: 25px;
    }

    #aboutmesection h3{
        font-size: 27px;
    }

    .portrait h3{
        font-size: 27px;
    }

    .titlecontact{
        font-size: 7em;
    }


    #contact form textarea:first-of-type {
        min-width: 70%;
    }

    #contact form textarea:nth-last-of-type(2) {
        min-width: 70%;
    }

    #contact form textarea:last-of-type {
        min-width: 70%;
    }

    #send {
        min-width: 250px;
        min-height: 60px;
        font-size: 25px;
    }
}

@media screen and (min-width:2000px ){

    .maincontent h1 {
        font-size: 15em;
    }

    .lastname {
        width: 4.5em;
    }

    .maincontent h2 {
        font-size: 5em;
    }

    #aboutmesection h1 {
        font-size: 7em;
    }

    #aboutmesection h2 {
        font-size: 36px;
    }

    .radio p {
        font-size: 37px;
    }

    article {
        grid-template-columns: 1fr 51%;
    }

    #chosenpic {
        width: 69%;
    }

    #aboutmesection h3 {
        font-size: 35px;
    }

    .social img {
        width: 100px;
    }

    #whatiknow h1 {
        font-size: 11em;
        margin-top: 150px;
    }

    .skills div h2 {
        font-size: 4.8em;
    }

    .skills div li {
        font-size: 2.5em;
    }

    .skills div {
        background-size: 555px;
    }

    #protitle {
        font-size: 11em;
    }

    #mypro p {
        width: 60%;
        font-size: 4em;
    }

    .contacttitle h1 {
        font-size: 7em;
    }

    #contact h3 {
        font-size: 2em;
    }

}