
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
/* 
font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
/* colors: text: #232420 */
/* #8BC5D7 #DACDFB*/

@font-face {
    font-family: Mallory;
    src: url(/assets/fonts/Mallory.woff);
}

@font-face {
    font-family: MallorySmall;
    src: url(/assets/fonts/MallorySmall.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.darkmode{
    background-color: #232420;
    color: white;
    transition: all 1s;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	min-width: 35px;
	min-height: 20px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	min-width: 10px;
	min-height: 10px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #506080;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	min-width: 40px;
}

.totop{
    position: absolute;
    position: fixed;
    bottom: 40px;
    right: 20px;
    transform: rotate(90deg);
    width: 60px;
}

h1,h2,h3{
    font-family: 'Poppins', sans-serif;
    color: #232420;
    line-height: 1em;
}

h1{
    font-size: 3.5em;
    text-align: center;
}

h2{
    font-size: 1.5em;
    text-align: center;
}

h3{
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    color: #78757f;
    font-size: 12px;
    letter-spacing: 3px;
}

body{
    position: relative;
}

a{
    text-decoration: none;
    color:white ;
    font-size: 0.7em;
    font-weight: bolder;
}

p{
    color: #78757f;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
   
    letter-spacing: 1px; 
}

li{
    font-family: 'Lato', sans-serif; 
    text-align: center;
    font-size: 1em;
    letter-spacing: 1px;
}


/* MAIN */

.hero {
    background-color: #FFE742;
}

nav {
    background-color:#232420 ;
    border-bottom:3px solid pink;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

ul li{
    padding: 3%;
}

.me{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid lightblue;
    position: absolute;
    right: 5px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.lastname{
    background-color: #232420;
    color: #FFE742;
    width: 5em;
    margin: auto;
}

.social{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.social a{
    margin-right: 2%;
}

.social img{
    width: 60px;
}


/* ABOUT ME */

#aboutmesection{
    padding: 5%;
    margin-top: 25px;
    margin-bottom: 35%;
}

.wannaknow
{
    text-align: center;
}

.radio{
    display: flex;
    justify-content: center;
    margin-top: 8%;
}

.radio p{
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 8px;
    letter-spacing: 3px;
    margin-right: 21px;
    margin-left: 5px;
}

 #abouttext{
    margin-bottom: 15%;
    padding: 7%;
    text-align: justify;
}

@keyframes appear {
    from {opacity: 0;}
    to {opacity: 100;}
  }

#chosenpic{
    width: 70%;
    display: block;
    margin: auto;
    margin-top: 5%;
    padding: 5%;
}

.appear{
    animation: appear 2s linear;
}

.portrait h3{
    font-weight: bolder;
    margin-bottom: 25px;
}

.gallery img{
    width: 15%;
    object-fit: cover;
    padding: 5px;
}

.gallery{
    display: flex;
    justify-content: center;
}

/* WHAT I KNOW */


#whatiknow{
    padding-bottom: 70px;
}

#whatiknow h1{
    margin: 9% 0;
}

#whatiknow li{
    list-style: none;
}

.skills div h2{
    margin: 5%;
}

.creating h2{
    color: #FA314A;
    font-weight: bolder;
}

.styling h2{
    color: #FFE742;
    font-weight: bolder;
}

.cms h2{
    color: #87FFFB;
    font-weight: bolder;
}

.codepic{
    background: url(./img/game.png)center/cover no-repeat fixed;
    height: 50vh;
}


/* MY PROJECTS */

#protitle{
    margin-top: 30px;
}

#mypro p{
    padding: 3%;
    text-align: center;
}

#propics{
    text-align: center;
}

#propics img{
    max-width: 50%;
    margin: 5%;
    border-radius: 5px;
    border: 2px solid black;
}

#mypro{
   background-color: #87FFFB;
   padding-top: 30px;
   padding-bottom: 18%;
}


.lastpic{
    height: 50vh;
    background: url(./img/hello.png)center/cover no-repeat fixed;
}

/* CONTACT */

#contact{
    background-color: #FFE742;
    padding-bottom: 200px;
    border-top: 3px solid pink;
}

.contacttitle{
    margin-top: 50px;
}

#titlecontact{
    font-size: 2.9em;
}

#contact p{
    padding: 4%;
    text-align: justify;
    color: #232420;
}

.meglasses{
    width: 60%;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
}

 #contact .lastwrapper form{
     display: grid;
     grid-template-rows: 35px 35px 150px;
     padding: 5%;
 }

 #contact form input{
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 2px;
    border-radius: 5px;
    border: 1px solid black;
 }

  #send{
    background-color: #FA314A;
    width: 130px;
    height: 60px;
    margin-top: 16px;
    transition: all 0.5s;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    margin: 10px auto;
    border: 1px solid black;
  }

  #send:hover{
    cursor: pointer;
    -webkit-box-shadow: 8px 5px 26px 11px rgba(0,0,0,0.20); 
    box-shadow: 8px 5px 26px 11px rgba(0,0,0,0.20);
  }

  .go{
    animation: move 1s forwards ease-in-out;
  }

  @keyframes move{
    0% {
        transform: scale(1);
        offset-distance: 0%;
    }
    100% {
        transform: scale(0);
        offset-distance: 100%;
    }
  }


  #plane{
    max-width: 145px;
    offset-path: path("M9, 9c0, 0, 171.7, 15.8, 171.7-161.9");
    margin: auto;
}

.madeby{
    position:absolute ;
    bottom: 10px;
    left: 10px;
}



/* DARKMODE */
#cat{
    position: fixed;
    top: 2%;
    left: 1%;
}

#sun{
    max-width: 130%;
    position: absolute;
    bottom: 30%;
    left: -7px;
    transition: all 1s;
}

#moon{
    max-width: 60%;
    position: absolute;
    bottom: -5%;
    left: 8px;
    opacity: 0;
    transition: all 1s;
}


#cat div{
    position: absolute;
    position: fixed;
}

.codepic{
    display: none;
}

.lastpic{
    display: none;
}

/* MEDIA QUERY */

@media screen and (min-width:768px ){

    h1 {
        font-size: 5em;
    }

    h2{
        font-size: 2em;
    }

    article{
        display: grid;
        grid-template-columns: 1fr 350px;
    }

    #chosenpic{
        width: 90%;
        margin-top: 10%;
    }

    .skills{
        display: flex;
        justify-content: space-evenly;
        padding-top: 0;
        padding-bottom: 70px;
    }

    .skills div h2{
        margin: 0;
        text-align: left;
    }

    .skills div li{
        text-align: left;
        margin-top: 10px;
    }

    #whatiknow{
        padding: 0;
    }


    #mypro p{
        width: 71%;
        margin: auto;
    }

    .meglasses{
        width: 34%;
    }

    #contact p{
        padding: 1% 17%;
    }

    #contact form{
        padding: 0;
        grid-template-columns: 500px;
        justify-content: center;
    }

}


@media screen and (min-width:1000px ){

    h1{
        font-size: 5em;
    }

    .gallery img{
        cursor: pointer;
        transition-duration: 2s;
    }

    .totop{
        right: 66px;
    }

    nav a{
        font-size: 1em;
        transition: all 0.8s;
    }

    nav a:hover{
        color: pink;
        transition: all 0.5s;
    }

    input{
        cursor: pointer;
    }

    #mypro p {
        padding: 1% 1%;
    }

    #propics{
        margin-top: 50px;
    }

    #propics img{
        max-width: 25%;
        margin: 2%;
        transition: all 0.5s;
    }

    #propics img:hover{
        -webkit-box-shadow: 8px 5px 26px 11px rgba(0,0,0,0.40); 
        box-shadow: 8px 5px 26px 11px rgba(0,0,0,0.40);
        transition: all 0.5s;
    }

    #contact p{
        padding: 1% 17%;
    }

    .lastwrapper{
        display: grid;
        gap: 16rem;
        grid-template-columns: 61px 1fr;
        width: 80%;
        margin: auto;
        margin-top: 100px;
    }

    .meglasses{
        width: 289px;
        margin: 0;
    }

    #titlecontact{
        font-size: 3.5em;
    }

    #contact .madeby{
        padding: 0 0;
    }

    .codepic{
        display: block;
    }
    
    .lastpic{
        display: block;
    }
}

@media screen and (min-width:1068px ){
   
    h1{
        font-size: 4em;
    }

    h2{
        font-size: 1.7em;
    }

    .me{
        margin-top: 14px;
    }

    #whatiknow h1{
        margin-top: 110px;
    }

    #whatiknow{
        padding-bottom: 0;
    }

    #whatiknow h1{
        margin: 5% 0;
    }

    #mypro{
        padding-bottom: 90px;
    }

    #mypro p{
        padding: 1% 7%;
    }
}



@media screen and (min-width:1115px ){

    h1{
        font-size: 7em;
    }

    h2{
        font-size: 2.2em;
    }

    h3{
        font-size: 16px;
    }

    .radio p{
        font-size: 15px;
    }

    .contacttitle{
        margin-top: 80px;
    }

}

@media screen and (min-width:1400px ){

    h2{
        font-size: 2.8em;
    }

    #motivation, #abouttext
    {
        font-size: 1.5em;
    }

    ul li {
        padding: 2%;
    }

    li{
        font-size: 1.5em;
    }

    .totop{
        right: 100px;
        width: 80px;
    }

    main{
        height: 65vh;
    }

    #chosenpic{
        width: 60%;
        margin-top: 5%;
    }

    #whatiknow{ 
        padding-bottom: 10%;
    }

    #propics img{
        width: 25%;
    }

    #gelb5{
        font-size: 2em;
    }

    article{
        grid-template-columns: 1fr 800px;
    }

    #titlecontact{
        font-size: 5em;
    }

    #send{
        min-width: 160px;
        min-height: 60px;
        font-size: 20px;
    }

    .lastwrapper{
        grid-template-columns: 135px 1fr;
        gap: 17rem;
        width: 64%;
    }

    .meglasses{
        width: 350px;
    }

    #contact form{
        grid-template-rows: 60px 60px 235px;
    }
    
}

@media screen and (min-width:1672px ){
    
    h1 {
        font-size: 9em;
    }

    h2{
        font-size: 4em;
    }

    h3{
        font-size: 1.5em;
    }

    p, li{
        font-size: 2em;
    }

    .radio p {
        font-size: 25px;
    }

    .social img {
        width: 90px;
    }

    #mypro p{
        font-size: 2em;
    }

    #titlecontact {
        font-size: 6.5em;
    }

    #contact p{
        font-size: 2em;
    }

    .meglasses {
        width: 450px;
    }

    .lastwrapper {
        grid-template-columns: 31px 1fr;
        gap: 22rem;
        width: 110%;
        padding: 0px 11%;
    }

    #send {
        min-width: 250px;
        min-height: 100px;
        font-size: 30px;
    }

    #plane {
        max-width: 196px;
    }

    .totop {
        right: 200px;
        width: 125px;
    }
}

@media screen and (min-width:2000px ){

    h1 {
        font-size: 12em;
    }
    
    h2 {
        font-size: 4em;
    }

    p{
        font-size: 2.5em;
    }

    .radio p {
        font-size: 2em;
    }

    article {
        grid-template-columns: 1fr 51%;
    }

    #chosenpic {
        width: 69%;
    }

    .social img {
        width: 100px;
    }

    #whatiknow h1 {
        margin-top: 150px;
    }

    li {
        font-size: 2.5em;
    }

    #titlecontact{
        font-size: 7em;
    }

    .totop {
        right: 700px;
        width: 130px;
    }
}

@media screen and (min-width:2560px ){

    h1{
        font-size: 14em;
    }

    h2{
        font-size: 5em;
    }

    h3{
        font-size: 2.5em;
    }

    p{
        font-size:3em;
    }

    .totop{
        right: 11%;
        width: 180px;
        bottom: 50px;
    }

    .meglasses{
        width: 600px;
    }

    #mypro{
        padding: 10% 0;
    }

    #mypro p{
        font-size: 3em;
    }

    #contact p {
        font-size: 3em;
    }

    .contacttitle{
        margin-top: 180px;
    }

    #titlecontact {
        font-size: 9em;
    }

    #send{
        min-width: 296px;
        min-height: 130px;
        font-size: 40px;
    }
}