@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&family=Source+Code+Pro:wght@400;600&display=swap');
/* font-family: 'Dosis', sans-serif;
font-family: 'Source Code Pro', monospace; */
/* colors: text: #232420 */
/* #8BC5D7 #DACDFB*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.darkmode{
    background-color: #232420;
    color: white;
    transition: all 1s;
}

.lightmode{
    background-color: white;
    transition: all 1s;
}

h1,h2,h3{
    font-family: 'Dosis', sans-serif;
}

body{
    color: #232420;
    font-family:'Source Code Pro', monospace; 
    position: relative;
}

#totop{
    min-width: 40px; 
    cursor: pointer;
    z-index: 9999;
}

a{
    text-decoration: none;
}

@keyframes toTop{
    from {width: 7px;}
    to {width: 80px;}
}



/* MAIN */

.hero {
    min-height: 60vh;
    position: relative;
}

nav {
    position: relative;
}

nav a{
    color:#348082 ;
    transition: all 1s;
    font-size: 0.9em;
}

nav a:hover{
    border-bottom: 1px solid #348082;
}

nav div h3{
    font-family: 'Source Code Pro', monospace;
    font-weight: lighter;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

ul li{
    padding: 5%;
}

main{
    margin-top: 12%;
    text-align: center;
}

main div h1{
    font-size: 3em;
}

#arrow{
    font-size: 2em;
    z-index: -1;
    max-width: 20%;
    animation: blinkingText 1s infinite 5s;
    box-shadow: none;
}

@keyframes blinkingText{
    from {opacity: 0%;}
    to {opacity: 100%;}
}

.social{
    writing-mode: vertical-lr;
    right: 0;
    bottom: 9%;
    position: fixed;
    z-index: 999;
}

.social img{
    width: 30px;
}

/* ABOUT ME */

#aboutmesection{
    scroll-behavior: smooth;
}

.aboutcontent{
    padding: 7%;
}
#aboutmetitle{
   height: 40px;
   font-size: 2.5em;
   text-align: center;
   margin-bottom: 16%;
}

.abouttext{
    font-size:0.9em;
}

.aboutimage{
    text-align: center;
}

.mypic{
    max-width: 15em;
    margin-bottom: 9%;
}
/* WHAT I KNOW */

#whatiknow{
    padding-bottom: 10%;
}

#whatiknow h1{
    text-align: center;
    font-size: 2.5em;
    padding-top: 10%;
    height: 100px;
}

.skills{
    font-size: 1em;
    padding: 10%;
}

.skills div li{
    list-style: none;
    text-align: center;
}

.skills div h2{
    margin: 5%;
    text-align: center;
}
/* MY PROJECTS */


#protitle{
    font-size: 2.5em;
    text-align: center;
    height: 100px;
    margin: 10%;
}

#propics{
    text-align: center;
}

#propics img{
    max-width: 300px;
    margin-bottom: 10%;
}

#mypro{
    border-radius: 55px;
}


/* CONTACT */

#contact{
    position: relative;
    margin: 5%;
    border-radius: 5%;
    text-align: center;
}

.contacttitle{
    font-size: 1em;
    margin-bottom: 9%;
}

#contacttext{
    margin-top: 2%;
    min-height: 50px;
}


 #contact p{
     font-size: 0.9em;
 }

 #contact form{
     text-align: center;
     margin-top: 3%;
     width: 100%;
 }

 #contact form textarea{
    font-family: 'Source Code Pro', monospace;
 }

 #contact form textarea:first-of-type{
     min-width: 90vw;
     min-height: 5vh;
 }

 #contact form textarea:nth-last-of-type(2){
    min-width: 90vw;
    min-height: 5vh;
}

#contact form textarea:last-of-type{
    min-width: 90vw;
    height: 30vh;
}

textarea::placeholder{
    text-align: center;
    padding-top: 10px;
}

  #send{
    background: linear-gradient(to right, #8BC5D7, #DACDFB);
    min-width: 130px;
    min-height: 40px;
    margin-top: 16px;
    font-family: 'Source Code Pro', monospace;
    transition: all 250ms;
    font-size: 15px;
    border-radius: 10px;
    transition: all 0.5s;
  }

  #send:hover{
    background-color: darkgrey;
    cursor: pointer;
    -webkit-box-shadow: 8px 5px 26px 11px rgba(0,0,0,0.20); 
    box-shadow: 8px 5px 26px 11px rgba(0,0,0,0.20);
  }

  .go{
    animation: move 1s forwards ease-in-out;
  }

  #plane{
    max-width: 13%;
    position: absolute;
    position:inherit;
    right: 90px;
    bottom: 31px;
    outline: none;
    offset-path: path("M9, 9c0, 0, 171.7, 15.8, 171.7-161.9");
}

@keyframes move{
  0% {
      transform: scale(1);
      offset-distance: 0%;
  }
  100% {
      transform: scale(0);
      offset-distance: 100%;
  }
}

/* DARKMODE */
#cat{
    position: fixed;
    top: 4%;
    left: 1%;
}

#sun{
    max-width: 130%;
    position: absolute;
    bottom: 30%;
    left: -11px;
    transition: all 1s;
}

#moon{
    max-width: 60%;
    position: absolute;
    bottom: -5%;
    left: 2px;
    opacity: 0;
    transition: all 1s;
}


#cat div{
    position: absolute;
    position: fixed;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	min-width: 35px;
	min-height: 20px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	min-width: 10px;
	min-height: 10px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #506080;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	min-width: 40px;
}

/* MEDIA QUERY */

@media screen and (min-width:1024px ){
    main div h1{
        font-size: 4em;
    }

    #plane{
        width: 5%;
    }

    h1{
        font-size: 2.5em;
    }

    #contact p{
        margin-top: 0;
        font-size: 1.5em;
    }

    #protitle{
        font-size: 3.5em;
        margin: 0;
        margin-bottom: 5%;
    }

    #aboutmetitle{
        font-size: 3.5em;
        margin-bottom: 8%;
    }

    #whatiknow h1{
        font-size: 3.5em;
    }

    .mypic{
        margin-top:9%
    }

    #whatiknow{
        padding-bottom: 0;
    }
}


@media screen and (min-width:1440px ){

        nav ul li{
            font-size: 2em;
        }

        main div h1{
            font-size: 6em;
        }

        .mypic{
            max-width: 25em;
        }

        #aboutmetitle{
            font-size: 5.5em;
            margin-bottom: 15%;
        }

        .abouttext{
            font-size: 1.9em;
        }

        #whatiknow h1{
            font-size: 6em;
        }

        .skills{
            font-size: 2em;
        }

        #protitle {
            font-size: 5.5em;
            margin-bottom: 8%;
        }

        .contacttitle h1{
            font-size: 3.5em;
        }

        #contact p{
            font-size: 2em;
        }

        #totop{
            bottom: 26px;
        }
}